{% extends "base.html" %}
{% block title %}ABOUT{% endblock %}
{% block content %}
<style>
	h1{
		font-family: Impact;
		color: #00b300;
		padding-bottom: 150px;
		font-size: 40;
	}
	p{
		font-family: Verdana;
		font-size: 25;
		color: black;
		padding-left: 50px;
		font-weight: bolder;
	}
</style>

<h1><center>ABOUT ME</center></h1>
<p>I'm Tharani balan, final year at Sri Venkateswara College of Engineering. </p>
<p align="bottom">Contact:<br>&#128222;: +91-1565656565<br>&#128231;: xyz.co.in</p>          
{% endblock %}
