{% extends "base.html" %}
{% block title %}SIGNUP{% endblock %}
{% block content %}
<style>
  label{
    font-family: verdana;
    color: black;
    font-weight: bold;
  }
</style>

<form>
  <div class="mb-3 form-group">
    <label for="exampleInputPassword1" class="form-label">Name: </label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-group">
    <label for="exampleInputPassword1" class="form-label">UserId: </label>
    <input type="text" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-group">
    <label for="exampleInputEmail1" class="form-label">Email: </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3 form-group">
    <label for="exampleInputPassword1" class="form-label">Password: </label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I accept to the terms and conditions.</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
